* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    /* font-family: 'Josefin Sans', sans-serif; */
    font-family: 'Montserrat', sans-serif; 
    /* font-family: 'Zilla Slab', serif; */
    /* font-family: 'jetbrains Mono', monospace; */
    font-weight: 300;
    display: flex;
    flex-direction: column; 
    margin: 0px auto;
}

header {
    /* background-color: #F2D8D5; */
    background-color: rgba(242, 216, 213, 0.5);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    height: 100px;
    padding-bottom: 1rem; 
} 

/* .logo-letters {
    font-weight: bold;
    font-size: 1.3rem;
    align-items: end;
} */

nav {
    grid-column-start: 8;
    grid-column-end: 10;
    align-self: center;

}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    color: #BF5687;
    margin: 0 30px;
    margin-left: 0;
    font-weight: 600;
    font-size: 1.2rem;
}

nav a {
    text-decoration: none;
    color: inherit;
}

h1, h2, h3, h4, h5, h6 { 
    /* font-family: 'Montserrat', sans-serif;  */
    font-family: 'Josefin Sans', sans-serif;
    /* font-family: 'jetbrains Mono', monospace; */
    /* font-family: 'Karla', sans-serif; */
    font-weight: 400;
    /* text-transform: uppercase; */
}

h1 {
    font-size: 3rem;
    text-align: end;
    margin-bottom: 20px;
    margin-top: 10px;
}

.h1-lighter {
    font-weight: 200;
    text-decoration: underline;
    text-decoration-color: yellow;
    text-underline-offset: 0px;
}

.welcome {
    font-weight: 400;
}

.blue {
    color: #60AEBF;
}

main {
    display: flex;
    flex-direction: column;
}


/* section-introduction*/
.section-introduction {
    /* background-color: #F2D8D5; */
    background-color: rgba(242, 216, 213, 0.5);
    height: 100vh; 
}


/* .intro {grid-area: intro;}
.intro-img {grid-area: img;}  */

.section-introduction-content {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    /* height: calc(100% - 70px);  */
    padding-top: 1rem;
    padding-bottom: 1rem; 
    padding-top: 2rem; 
    margin: auto;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto 50px auto auto; 
    align-items: flex-end;
    grid-column-start: 5;
    grid-column-end: 8;
}


.intro p, h1 {
    text-align: end;
}

.intro-img {
    height: 700px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.3);
    grid-column-start: 8;
    grid-column-end: 11;
}


/* section-projects*/
.section-projects {
    display: flex;
    flex-direction: column;
}

.section-projects-content {
    max-width: fit-content;
    background-color: white;
    grid-template-areas: 
    'img1 text1'
    'text2 img2'
    'img3 text3'; 
    grid-gap: 0px;
    margin: 60px auto;
}

.section-projects-img1 {grid-area: img1;}
.section-projects-img2 {grid-area: img2;}
.section-projects-img3 {grid-area: img3;}
.section-projects-text1 {grid-area: text1;}
.section-projects-text2 {grid-area: text2;}
.section-projects-text3 {grid-area: text3;}

.project-1, 
.project-2,
.project-3 {
    display: flex;
    flex-direction: row;
    height: 600px;
    margin: 20px auto;
    align-items: center;
}

.section-projects img {
    max-width: 700px;
    height: auto;
    border-radius: 10px;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.3);
    margin: 0px 20px;
}

.section-projects-text1,
.section-projects-text2,
.section-projects-text3 {
    max-width: 300px;
}

.section-projects h1 {
    color: #3D7D8B;
    font-size: 2.5rem ;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.view {
    text-decoration: none;
    /* color: #F2A7A7; */
    color: #BF5687;
    font-weight: bold;
}



/* footer */
footer {
    position: sticky;
    top: 100vh;
    width: 100%;
    bottom: 0px;
    padding: 5px 0px;
    margin: 0px;
    background-color: #F2D8D5;
    text-align: center;
}


